body {
	margin: 35px;
}

/****************************
STYLING FOR NAV BAR
*****************************/
.navdiv {
	border: 2px;
	border-style: solid;
	background-color: #FFB4B0;

}

.top-nav li {
	display: inline;
	list-style-type: none;

}

.top-nav p {
	display: inline;
}

/****************************
STYLING FOR FILTER DIV
*****************************/

.filterdiv {
	border: 2px;
	border-style: solid;
	background-color: #4DD7FA;
	width: 30%;
	height: 80%;
}