* {
	box-sizing: border-box;
}

.wholebody {
	width: 70%;
	min-width: 700px;
	margin: 0 auto;
}

/****************************
STYLING FOR NAV BAR
*****************************/
.navdiv {
	border: 1.75px;
	border-style: solid;
	background-color: #FFB4B0;
	margin-bottom: 10px;
	height: 45px;
	width: 99.5%;
	float: top;
	min-width: 30%;
}

.top-nav li {
	display: inline;
	list-style-type: none;
	font-size: 11px;

}

.top-nav p {
	display: inline;
	font-size: 12px;
}

/****************************
STYLING FOR FILTER DIV
*****************************/

.filterdiv {
	border: 1.75px;
	border-style: solid;
	background-color: #4DD7FA;
	width: 23%;
	height: 380px;
	padding: 1%;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 8px;
	min-width: 15%;
}

.filterdiv div p {
	font-size: 13px;
}

.filterdiv div {
	padding: 1% 0 1% 0;
}

select {
	border: 2px;
	border-style: solid;
}

.checkbox {
	display: block;
	text-align: center;
}

.checkboxborder {
	border: 2px;
	border-style: solid;
}

.filterbutton {
	width: 35%;
	height: 20px;
	border: 1.75px;
	border-style: solid;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
	margin-top: 12px;
}

.inputWidth {
	width: 98%;
}

.buttondiv {
	text-align: center;
/* 	padding-top: 70px; */
	padding-top: 45%;
}

.divcol{
	width: auto;
	display: inline-block;
	padding-left: 6%;
	text-align: left;
}

.divcol label {
	font-size: 13px;
}

/* .colpadding {
	padding-right: 50%;
} */

/****************************
STYLING FOR Song Info DIV
*****************************/

.infodiv {
	border: 1.75px;
	border-style: solid;
	background-color: #FEFAC0;
	width: 75%;
	height: 380px;
	padding: 10px;
	font-family: arial, helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	min-width: 30%;
}

.infodiv div {
	margin-bottom: 20px;
	padding: 3px;
}

.songcolor {
	color:  #785616;
	display: block;
	font-size: 12px;
	margin: 5px 0 3px;
	font-weight: bolder;

}

.songname {
	padding-left: 12px;
}

/*
.songname p:not(:first-child) {
	display: inline;
	font-size: 8px;
	padding: 3px;
} */








